﻿<style>
    #tasks-list {
        margin: 0 0 10px 10px;
        white-space: normal;
    }

    #list {
        margin: 10px 0 0 20px;
        padding-left: 0;
        text-align: left;
    }
</style>
@{
    var priorityEntities = new[] {
        new { id = 0, text = "Hồ Kim Trọng" },
        new { id = 1, text = "La Đặng Gia Bảo" },
        new { id = 2, text = "Đỗ Trọng Mẫn" },
        new { id = 3, text = "Hoàng Anh Vũ" },
        new { id = 4, text = "Trần Đình Lợi" },
        new { id = 5, text = "Lê Văn Cầu" },
    };
}
@(Html.DevExtreme().Popup()
    .ID("vote-popup")
    .Width(300)
    .Height(300)
    .FullScreen(true)
    .Visible(false)
    .ShowCloseButton(false)
    .Container(".dx-viewport")
    .ShowTitle(true)
    .Title("Bình chọn")
    .DragEnabled(false)
    )

@using (Html.DevExtreme().NamedTemplate("vote-popup-template"))
{
    <div class="widget-container">
        <div class="form">
            <div>
                <p id="time-left"></p>
                @(Html.DevExtreme().RadioGroup()
                    .ID("radio-group-with-selection")
                    .DataSource(priorityEntities)
                    .ValueExpr("text")
                    .DisplayExpr("text")
                    .Value("Hồ Kim Trọng")
                    .OnValueChanged("radioGroup_valueChanged")
                )
                @(Html.DevExtreme().Button()
                    .Text("Bình chọn")
                    .Type(ButtonType.Success)
                    .OnClick("votes")
                )
            </div>
            <div id="tasks-list">
                Người đã bình chọn:
                <ul id="list">
                    <li>Bạn chưa bình chọn</li>
                </ul>
            </div>
        </div>
    </div>
}

<script src="~/js/scripts.js"></script>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date(new Date().getTime() + 60000 * minute);

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="demo"
        document.getElementById("time-left").innerHTML ="Thời gian còn lại là "+hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("time-left").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<script>
    function votes() {
        var val = $("#radio-group-with-selection").dxRadioGroup("instance").option("value");
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Warming',
            text: 'Bạn muốn bình chọn cho '+ ' ?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Vâng',
            cancelButtonText: 'Không',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Success',
                    'Bạn đã bình chọn cho ',
                    'success'
                )
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Fail',
                    'Bạn không bình chọn cho ',
                    'error'
                )
            }
        })

        $("#list").children().remove();
        $("#list").append($("<li/>").text(val+""));
    }

    function radioGroup_valueChanged(e) {
        
    }
</script>
