﻿<div class="col-md-12">
    <h2>Say Hello</h2>
    <div id="messages"></div>
    <hr />

    <div class="form-group">
        <label for="email">User Email:</label>
        <input type="email" class="form-control" id="toUser" value="" placeholder="shashangka@gmail.com" />
    </div>
    <div class="form-group">
        <label for="pwd">Message:</label>
        <input type="password" class="form-control" id="myMessage" value="" placeholder="message" />
    </div>

    <button type="submit" class="btn btn-default" id="submit">Submit</button>

</div>

<script type="text/javascript">

$("#submit").click(function (e) {
    e.preventDefault();

    var message = $("#myMessage").val();
    var sendtouser = $("#toUser").val();

    //$("#messages").append("<p>" + message + "</p>");

    var Notification = { UserID: sendtouser, Message: message };

    $.ajax({
        type: "POST",
        url: "/SignalR/SendNotification",
        data: JSON.stringify(Notification),
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
            //reset field
            $("#myMessage").val("");
        },
        error: function () {
            alert("Error occured!!")
        }
    });

});
</script>  